Repository scarletstudio/butterfly, pull requests merged in 2022-07, with the labels that each got.

#235 Refactor all chats page to send all requests to Firebase instead of API.
  frontend/src/app/data/Match.js
  frontend/src/app/data/User.js
  frontend/src/pages/AllChatsPage.jsx
Labels: bug, frontend, refactor, infra, data

#241 Fix ESLint rules for Typescript.
  frontend/.eslintrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/community/Join.tsx
  run.sh
Labels: bug, frontend, devtools

#242 add internal data to matching engine
  pipeline/matching/core/engine.py
  pipeline/types/engine.py
Labels: enhancement, pipeline, refactor, infra

#229 Amir Stephe's first commit.
  frontend/src/app/chatmenu/RateMatch.tsx
Labels: enhancement, frontend

#237 Emma Diamon's first commit.
  pipeline/matching/generators/similar_schedules.py
Labels: documentation, pipeline

#232 Add configuration for pytest extension in GitPod VSCode.
  .vscode/settings.json
Labels: enhancement, pipeline, backend, devtools

#261 Only use update if the value is a dictionary.
  backend/attributes/views/attribute.py
  backend/attributes/views/attribute_test.py
Labels: bug, backend, refactor

#263 Connect community selector to edit profile page
  frontend/src/app/community/Selector.stories.tsx
  frontend/src/app/community/Selector.tsx
  frontend/src/app/community/index.js
  frontend/src/app/data/User.js
  frontend/src/pages/EditProfilePage.jsx
Labels: enhancement, frontend, refactor, infra

#260 Simplify match metadata with shared attribute fields
  frontend/src/app/types/ChatData.tsx
  pipeline/types/match_metadata.py
Labels: frontend, pipeline, refactor, data

#264 Pass keyword arguments for MatchingEngine subclasses.
  pipeline/flows/matching.py
  pipeline/matching/engines/main.py
  pipeline/matching/engines/simple.py
Labels: bug, pipeline, infra

#268 Add isValid option to fetch request to skip invalid requests.
  frontend/src/app/utils/Fetch.js
Labels: enhancement, frontend, infra

#265 Fix precommit hook not installing when opening gitpod
  .gitpod.yml
Labels: bug, devtools

#270 Refactor task and tests to display proposed match counts per user.
  pipeline/load/display_metrics.py
  pipeline/load/display_metrics_test.py
Labels: pipeline, refactor, infra

#275 Skip invalid ratings records in extraction.
  pipeline/extract/ratings.py
  pipeline/extract/ratings_test.py
Labels: bug, pipeline, data

#276 Add community ID to chat data.
  frontend/src/app/chat/ChatApp.jsx
  frontend/src/app/chat/ChatHooks.js
  frontend/src/app/types/ChatData.tsx
Labels: bug, frontend, data

#246 Core project: Variety Rankers
  notebooks/dfg-13/notebook.ipynb
  pipeline/matching/rankers/variety.py
  pipeline/matching/rankers/variety_test.py
Labels: enhancement, pipeline

#283 Adding more intents to the edit profile page.
  frontend/src/app/attributes/EditIntents.stories.tsx
  frontend/src/config/communities.tsx
Labels: frontend, product, data

#257 Match Stars Core Project
  pipeline/matching/rankers/match_stars.py
  pipeline/matching/rankers/match_stars_test.py
Labels: enhancement, pipeline

#256 Set up test and function for selection rate
  pipeline/matching/evaluation/metrics.py
  pipeline/matching/evaluation/metrics_test.py
Labels: enhancement, pipeline, infra

#244 Similar Intent Matching Capability
  pipeline/matching/generators/similar_intents.py
  pipeline/matching/generators/similar_intents_test.py
Labels: enhancement, pipeline

#296 added google analytics
  frontend/src/App.jsx
  frontend/src/app/utils/Firebase.js
Labels: frontend, infra, product

#295 Add community to Converation Starters
  frontend/src/app/chat/ChatConversation.jsx
  frontend/src/app/starters/CommonLettersStarter.tsx
  frontend/src/app/starters/ConversationStarter.tsx
Labels: enhancement, frontend, data

#298 Add all user fields from database to User dataclass
  pipeline/extract/users.py
  pipeline/extract/users_test.py
  pipeline/transform/users.py
  pipeline/transform/users_test.py
  pipeline/types/community.py
  pipeline/types/raw_data.py
  pipeline/types/user.py
Labels: pipeline, infra, data

#277 Rare Intents Matching, Pass first test case
  pipeline/matching/generators/rare_intents.py
  pipeline/matching/generators/rare_intents_test.py
Labels: enhancement, pipeline

#290 Added notification dataclass and the logic for various notifications
  pipeline/notifications/__init__.py
  pipeline/notifications/check_message.py
  pipeline/notifications/check_message_test.py
  pipeline/types/__init__.py
  pipeline/types/notification.py
Labels: enhancement, pipeline, data

#306 Refactor frontend secrets in run.sh script.
  run.sh
Labels: frontend, devtools, refactor

#308 added some times available
  frontend/src/app/starters/SchedulesStarter.stories.tsx
  frontend/src/app/starters/SchedulesStarter.tsx
Labels: enhancement, frontend

#248 Nelida Core Project Quantity Ranker
  pipeline/matching/rankers/quantity.py
  pipeline/matching/rankers/quantity_test.py
Labels: enhancement, pipeline

#307 Log analytics event for sending a chat message.
  frontend/src/app/chat/ChatApp.jsx
  frontend/src/app/chat/ChatHooks.js
Labels: product, data

#288 Implemented similar schedules generator
  pipeline/matching/generators/similar_schedules.py
  pipeline/matching/generators/similar_schedules_test.py
Labels: enhancement, pipeline

#287 Find Match of 3
  pipeline/utils/helpers.py
  pipeline/utils/helpers_test.py
Labels: enhancement, pipeline, utility, testing

#279 Implement block users page
  frontend/src/app/chatmenu/BlockUser.css
  frontend/src/app/chatmenu/BlockUser.tsx
Labels: enhancement, frontend

#301 limited schedules
  pipeline/matching/generators/limited_schedules.py
  pipeline/matching/generators/limited_schedules_test.py
Labels: enhancement, pipeline

#315 Add test helper to explain why lists do not match.
  pipeline/__init__.py
  pipeline/testing/__init__.py
  pipeline/testing/assertions.py
  pipeline/testing/assertions_test.py
  pipeline/testing/helpers.py
  pipeline/testing/helpers_test.py
Labels: pipeline, infra, testing

#322 Updated NotificationInfo dataclass; refactored get_users_to_notify fu…
  pipeline/notifications/__init__.py
  pipeline/notifications/check_message.py
  pipeline/notifications/check_message_test.py
  pipeline/notifications/notifier.py
  pipeline/types/notification.py
Labels: pipeline, refactor, infra, data

#326 Show emails of users who were matched in flow logs.
  pipeline/load/display_metrics.py
  pipeline/load/display_metrics_test.py
Labels: enhancement, pipeline, product

#327 Update similar intents generator to use intents metadata field.
  pipeline/matching/generators/similar_intents.py
  pipeline/matching/generators/similar_intents_test.py
Labels: pipeline, refactor, data

#300 Na updating search messages
  frontend/src/app/chat/ChatMenu.jsx
  frontend/src/app/chatmenu/ChatMenuPage.tsx
  frontend/src/app/chatmenu/SearchMessages.css
  frontend/src/app/chatmenu/SearchMessages.stories.tsx
  frontend/src/app/chatmenu/SearchMessages.tsx
Labels: enhancement, frontend

#328 Create story cases
  frontend/src/app/chatmenu/BlockUser.stories.tsx
Labels: frontend, testing

#302 Fixed matching flow exception
  notebooks/dfg-13/notebook.ipynb
  pipeline/transform/matches.py
  pipeline/transform/matches_test.py
Labels: bug, pipeline, infra, data

#262 Rare interests core project
  pipeline/matching/generators/rare_interests.py
  pipeline/matching/generators/rare_interests_test.py
Labels: enhancement, pipeline

#329 Added renderer parent class
  pipeline/notifications/__init__.py
  pipeline/notifications/new_message_notifier.py
  pipeline/notifications/new_message_notifier_test.py
  pipeline/notifications/new_message_render.py
  pipeline/notifications/new_message_render_test.py
  pipeline/notifications/render_notification.py
Labels: enhancement, pipeline, infra, testing

#304 Implementation of Similar_Interests
  pipeline/matching/generators/similar_interests.py
  pipeline/matching/generators/similar_interests_test.py
Labels: enhancement, pipeline

#338 Refactor all chats page to use ChatInbox component.
  frontend/src/app/data/Match.js
  frontend/src/app/inbox/ChatInbox.css
  frontend/src/app/inbox/ChatInbox.stories.tsx
  frontend/src/app/inbox/ChatInbox.tsx
  frontend/src/app/inbox/ChatPreview.css
  frontend/src/app/inbox/ChatPreview.stories.tsx
  frontend/src/app/inbox/ChatPreview.tsx
  frontend/src/app/inbox/Introduction.stories.mdx
  frontend/src/app/inbox/index.js
  frontend/src/app/types/ChatData.tsx
  frontend/src/pages/AllChatsPage.jsx
Labels: enhancement, frontend, refactor, testing

#344 Fetch the latest message for each chat, if any.
  frontend/src/app/data/Match.js
  frontend/src/app/types/ChatData.tsx
Labels: enhancement, frontend, infra, product, data

#299 As match stars
  frontend/src/app/chatmenu/RateMatch.css
  frontend/src/app/chatmenu/RateMatch.stories.tsx
  frontend/src/app/chatmenu/RateMatch.tsx
Labels: enhancement, frontend

#346 Set up analytics collection in the Butterfly app and API.
  backend/analytics/__init__.py
  backend/analytics/apps.py
  backend/analytics/urls.py
  backend/analytics/views/__init__.py
  backend/analytics/views/collect.py
  backend/analytics/views/collect_test.py
  backend/server/urls.py
  frontend/src/app/chat/ChatHooks.js
  frontend/src/app/utils/Analytics.js
  frontend/src/app/utils/index.js
Labels: frontend, backend, infra, product, data
