Repository scarletstudio/butterfly, pull requests merged in 2022-05, with the labels that each got.

#9 Add delete and upload tasks to flow.
  pipeline/matching_pipeline.py
  run.sh
Labels: pipeline

#10 Create frontend style guide page
  frontend/src/App.jsx
  frontend/src/common/components/Chat.jsx
  frontend/src/common/components/Errors.jsx
  frontend/src/pages/AllChatsPage.jsx
  frontend/src/pages/ChatPage.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/Layout.jsx
  frontend/src/pages/LoginPage.jsx
  frontend/src/pages/MockLoginPage.jsx
  frontend/src/pages/NotFoundPage.jsx
  frontend/src/pages/StyleGuide.jsx
  frontend/src/styles/HomePage.css
  frontend/src/styles/Layout.css
  frontend/src/styles/LoginPage.css
  frontend/src/styles/User.css
  frontend/src/styles/main.css
  frontend/src/styles/theme.css
Labels: documentation, frontend

#13 Added Profile page
  frontend/src/App.jsx
  frontend/src/common/utils/user.js
  frontend/src/pages/ProfilePage.jsx
  frontend/src/styles/theme.css
Labels: enhancement, frontend
