Repository scarletstudio/butterfly, pull requests merged in 2022-08, with the labels that each got.

#357 Changes made to run matching pipeline for 2022-08-01 release.
  pipeline/flows/config.py
  pipeline/load/validation.py
  pipeline/matching/generators/rare_intents.py
  pipeline/matching/generators/rare_intents_test.py
  pipeline/matching/generators/rare_interests.py
  pipeline/matching/generators/rare_interests_test.py
  pipeline/matching/generators/similar_interests.py
  pipeline/matching/generators/similar_interests_test.py
Labels: pipeline, refactor, infra

#358 Add a placeholder for interests starters.
  frontend/src/app/starters/InterestsStarter.tsx
Labels: enhancement, frontend

#359 Add URL info to analytics events collection.
  backend/analytics/views/collect.py
  backend/analytics/views/collect_test.py
  frontend/src/app/utils/Analytics.js
Labels: enhancement, frontend, backend, product, data

#340 Frontend upvote user luis
  frontend/src/app/chatmenu/UpvoteUser.css
  frontend/src/app/chatmenu/UpvoteUser.stories.tsx
  frontend/src/app/chatmenu/UpvoteUser.tsx
Labels: enhancement, frontend

#336 Notifications per Users
  pipeline/utils/notifications.py
  pipeline/utils/notifications_test.py
Labels: enhancement, pipeline, utility, testing

#349 Creating notifications file in pipeline/flows
  pipeline/flows/config.py
  pipeline/flows/notifications.py
Labels: enhancement, pipeline, infra

#350 Normalize Match Stars
  pipeline/matching/rankers/match_stars.py
  pipeline/matching/rankers/match_stars_test.py
  pipeline/types/rating.py
Labels: enhancement, pipeline, testing

#316 Lo core project
  frontend/src/app/starters/InterestsStarter.stories.tsx
  frontend/src/app/starters/InterestsStarter.tsx
Labels: enhancement, frontend, testing

#361 Hide blocked user chats
  frontend/src/app/inbox/ChatInbox.css
  frontend/src/pages/AllChatsPage.jsx
Labels: enhancement, frontend

#366 Return Prioritized Notification
  pipeline/types/notification.py
  pipeline/types/user.py
  pipeline/utils/notifications.py
  pipeline/utils/notifications_test.py
Labels: enhancement, pipeline, utility, testing

#360 Create frontend UI for word guesser game.
  frontend/src/app/games/Introduction.stories.mdx
  frontend/src/app/games/wordguesser/Introduction.stories.mdx
  frontend/src/app/games/wordguesser/WordGuesserGame.css
  frontend/src/app/games/wordguesser/WordGuesserGame.stories.tsx
  frontend/src/app/games/wordguesser/WordGuesserGame.tsx
  frontend/src/app/games/wordguesser/index.js
Labels: enhancement, frontend, testing

#355 Vocable word guessing game
  backend/games/word_guesser/WordGuesser.py
  backend/games/word_guesser/WordGuesser_Solutions.txt
  backend/games/word_guesser/WordGuesser_ValidGuesses.txt
  backend/games/word_guesser/WordGuesser_test.py
Labels: documentation, enhancement, backend

#330 Fixes #90 Block User Functionality
  frontend/src/app/chatmenu/BlockUser.css
  frontend/src/app/chatmenu/BlockUser.tsx
Labels: enhancement, frontend

#374 Do not send request if the valid condition is undefined.
  frontend/src/app/utils/Fetch.js
Labels: bug, frontend, backend, infra

#363 stretch complete
  pipeline/matching/utils/__init__.py
  pipeline/matching/utils/schedule.py
  pipeline/matching/utils/schedule_test.py
Labels: pipeline, infra, data, utility, testing

#375 Replaced placeholder notification helper function
  pipeline/flows/notifications.py
Labels: pipeline, refactor, infra

#372 MF_TwoTruthsAndLie Game
  frontend/src/app/games/TwoTruthsAndLie.jsx
  frontend/src/app/games/TwoTruthsAndLie.stories.jsx
Labels: enhancement, frontend

#378 Adding Attempt Feature To Two Truths And A Lie Game.
  frontend/src/app/games/TwoTruthsAndLie.jsx
Labels: enhancement, frontend

#342 Vk branch
  pipeline/matching/rankers/intent_upvotes.py
  pipeline/matching/rankers/intent_upvotes_test.py
Labels: enhancement, pipeline

#364 Vk stretch
  pipeline/matching/generators/location.py
  pipeline/matching/generators/location_test.py
  pipeline/types/match_metadata.py
  pipeline/types/user.py
Labels: enhancement, pipeline, data, testing

#380 Connect word guesser game from frontend to backend.
  backend/games/__init__.py
  backend/games/apps.py
  backend/games/urls.py
  backend/games/views/__init__.py
  backend/games/views/word_guesser.py
  backend/games/views/word_guesser_test.py
  backend/games/word_guesser/__init__.py
  backend/games/word_guesser/state_management.py
  backend/games/word_guesser/state_management_test.py
  backend/server/urls.py
  frontend/src/App.jsx
  frontend/src/app/games/wordguesser/WordGuesserApp.tsx
  frontend/src/app/games/wordguesser/WordGuesserGame.css
  frontend/src/app/games/wordguesser/WordGuesserGame.stories.tsx
  frontend/src/app/games/wordguesser/WordGuesserGame.tsx
  frontend/src/app/games/wordguesser/index.js
  frontend/src/app/styles/Layout.css
  frontend/src/pages/AllChatsPage.jsx
  frontend/src/pages/WordGuesserPage.jsx
Labels: enhancement, frontend, backend, data, testing

#383 possible quick fix for multiple goalwords
  backend/games/views/word_guesser.py
Labels: bug, backend

#377 Refactor Block User
  frontend/src/app/chatmenu/BlockUser.tsx
  frontend/src/app/data/Blocked.js
  frontend/src/app/data/index.js
  frontend/src/app/inbox/ChatInbox.css
  frontend/src/pages/AllChatsPage.jsx
Labels: frontend, refactor

#354 Kept the messages in the search bar
  frontend/src/app/chatmenu/SearchMessages.css
  frontend/src/app/chatmenu/SearchMessages.tsx
Labels: enhancement, frontend

#356 Extract analytics data
  pipeline/extract/__init__.py
  pipeline/extract/analytics.py
  pipeline/extract/analytics_test.py
  pipeline/types/__init__.py
  pipeline/types/analytics.py
Labels: pipeline, infra, data, testing

#387 PR: Rating Reminder
  pipeline/notifications/__init__.py
  pipeline/notifications/rating_reminder.py
  pipeline/notifications/rating_reminder_test.py
Labels: enhancement, pipeline, infra, testing

#365 Implement Extract ChatData
  notebooks/dfg-13/notebook.ipynb
  pipeline/extract/__init__.py
  pipeline/extract/chat.py
  pipeline/extract/chat_test.py
  pipeline/flows/notifications.py
  pipeline/transform/users.py
Labels: enhancement, pipeline, infra, data, testing

#341 Improved rare intents match generation
  pipeline/matching/generators/rare_intents.py
  pipeline/matching/generators/rare_intents_test.py
Labels: pipeline, refactor, testing

#390 Fix rare intents generator to use common intents field.
  pipeline/matching/generators/rare_intents.py
  pipeline/matching/generators/rare_intents_test.py
Labels: bug, pipeline, refactor, testing

#371 Pass all test cases for metrics and display_metrics
  pipeline/load/display_metrics.py
  pipeline/load/display_metrics_test.py
  pipeline/matching/evaluation/metrics.py
  pipeline/matching/evaluation/metrics_test.py
  pipeline/transform/compute_metrics.py
  pipeline/types/engine.py
Labels: enhancement, pipeline, infra, testing

#370 lo_stretch_project
  frontend/src/app/starters/InterestsStarter.css
Labels: enhancement, frontend

#367 Clustering algo
  notebooks/nelischalich/clustering.ipynb
  pipeline/matching/engines/main.py
  pipeline/matching/generators/__init__.py
  pipeline/matching/generators/clustering.py
  pipeline/matching/generators/clustering_test.py
Labels: enhancement, pipeline, data, testing

#368 Cursor Pointer Functionality & Rating Reset
  frontend/src/app/chatmenu/RateMatch.css
  frontend/src/app/chatmenu/RateMatch.tsx
Labels: enhancement, frontend, refactor, testing

#362 Completed average_rating script
  pipeline/scripts/average_rating.py
  pipeline/testing/average_rating_test.py
Labels: enhancement, pipeline, infra, data, testing

#381 Add chat preview icon for messages the user has not responded to
  frontend/src/app/inbox/ChatInbox.tsx
  frontend/src/app/inbox/ChatPreview.css
  frontend/src/app/inbox/ChatPreview.tsx
Labels: enhancement, frontend
