Repository scarletstudio/butterfly, pull requests merged in 2022-06, with the labels that each got.

#30 Set up Storybook with example button stories.
  .gitpod.yml
  frontend/.eslintrc
  frontend/.storybook/main.js
  frontend/.storybook/preview-head.html
  frontend/.storybook/preview.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/stories/core/Button.stories.tsx
  frontend/src/stories/core/Button.tsx
  frontend/src/stories/core/Introduction.stories.mdx
  frontend/src/stories/core/button.css
  frontend/src/stories/theme.css
  run.sh
Labels: frontend, devtools

#33 Pull chat header out of chat app.
  frontend/src/common/components/Chat.jsx
  frontend/src/pages/ChatPage.jsx
Labels: frontend, refactor, infra

#34 Pull the remaining chat app components out of the wrapper.
  frontend/src/common/components/Chat.jsx
  frontend/src/pages/ChatPage.jsx
Labels: frontend, refactor, infra

#36 Add conversation starter
  frontend/src/pages/ChatPage.jsx
Labels: enhancement, frontend

#46 Remove demo pipeline scripts.
  pipeline/main.py
  pipeline/main.sh
  pipeline/scripts/__init__.py
  pipeline/scripts/delete_matches.py
  pipeline/scripts/download_recent_matches.py
  pipeline/scripts/download_users.py
  pipeline/scripts/upload_matches.py
Labels: pipeline, refactor

#45 Move matching pipeline extract tasks into extract module
  pipeline/extract/__init__.py
  pipeline/extract/matches.py
  pipeline/extract/users.py
  pipeline/matching.py
  pipeline/matching_pipeline.py
  pipeline/schema/__init__.py
  pipeline/schema/match.py
  pipeline/schema/user.py
  pipeline/utils/constants.py
  pipeline/utils/firebase.py
  pipeline/utils/release.py
Labels: pipeline, refactor

#48 Add unit tests for extract tasks, with mocks and Pytest action
  .github/workflows/test-backend.yml
  .gitpod.yml
  pipeline/extract/matches_test.py
  pipeline/extract/users_test.py
  requirements-dev.txt
  run.sh
Labels: pipeline, devtools, refactor

#50 Move load tasks into module.
  pipeline/extract/matches_test.py
  pipeline/extract/users_test.py
  pipeline/load/__init__.py
  pipeline/load/release.py
  pipeline/load/release_test.py
  pipeline/matching_pipeline.py
  run.sh
Labels: pipeline, refactor

#51 Reorganize matching code.
  pipeline/extract/matches.py
  pipeline/load/release.py
  pipeline/matching.py
  pipeline/matching/__init__.py
  pipeline/matching/algorithms/__init__.py
  pipeline/matching/algorithms/fallback/README.md
  pipeline/matching/algorithms/fallback/__init__.py
  pipeline/matching/algorithms/fallback/example.py
  pipeline/matching/algorithms/fallback/generator.py
  pipeline/matching/algorithms/fallback/optimizers.py
  pipeline/matching/algorithms/fallback/tasks.py
  pipeline/matching/core/__init__.py
  pipeline/matching/core/constants.py
  pipeline/matching/core/release.py
  pipeline/matching/core/types.py
  pipeline/matching/core/utils.py
  pipeline/matching/evaluation/__init__.py
  pipeline/matching/evaluation/validation.py
  pipeline/matching_pipeline.py
  pipeline/schema/types.py
  requirements-dev.txt
Labels: pipeline, refactor

#52 Add and apply more Python pre-commit hooks.
  .github/workflows/pre-commit.yml
  .github/workflows/test-backend.yml
  .pre-commit-config.yaml
  pipeline/extract/matches_test.py
  pipeline/extract/users_test.py
  pipeline/load/release.py
  pipeline/load/release_test.py
  pipeline/matching/algorithms/fallback/example.py
  pipeline/matching/algorithms/fallback/optimizers.py
  pipeline/matching/core/utils.py
  pipeline/register_all_flows.py
  pipeline/schema/match.py
  pipeline/schema/user.py
  pipeline/utils/firebase.py
  requirements-dev.txt
Labels: pipeline, backend, devtools, refactor

#54 Create basic matching engine.
  pipeline/matching/algorithms/fallback/README.md
  pipeline/matching/algorithms/fallback/optimizers.py
  pipeline/matching/core/README.md
  pipeline/matching/core/engine.py
  pipeline/matching/core/engine_test.py
  pipeline/matching/core/types.py
  pipeline/matching/core/utils.py
  pipeline/schema/engine.py
  pipeline/schema/match.py
Labels: enhancement, pipeline, infra

#55 Consolidate all types and schemas under pipeline.types module.
  pipeline/extract/matches.py
  pipeline/load/release.py
  pipeline/matching/algorithms/fallback/example.py
  pipeline/matching/algorithms/fallback/generator.py
  pipeline/matching/algorithms/fallback/optimizers.py
  pipeline/matching/algorithms/fallback/tasks.py
  pipeline/matching/core/engine.py
  pipeline/matching/core/engine_test.py
  pipeline/matching/core/release.py
  pipeline/matching/core/utils.py
  pipeline/matching/evaluation/validation.py
  pipeline/schema/__init__.py
  pipeline/types/__init__.py
  pipeline/types/engine.py
  pipeline/types/match.py
  pipeline/types/release.py
  pipeline/types/user.py
Labels: pipeline, refactor

#56 Reorganize Prefect flows in pipeline.flow module.
  pipeline/flows/__init__.py
  pipeline/flows/matching.py
  pipeline/scripts/register_all_flows.py
  run.sh
Labels: pipeline, refactor, infra

#57 Remove scorer and rename fallback to finalizer.
  .github/workflows/pre-commit.yml
  .github/workflows/test-backend.yml
  pipeline/matching/algorithms/fallback/optimizers.py
  pipeline/matching/core/engine.py
  pipeline/matching/core/engine_test.py
  pipeline/types/engine.py
  run.sh
Labels: pipeline, devtools, refactor

#59 Remove algorithms module and split out generators, rankers, finalizers.
  .gitpod.yml
  pipeline/flows/matching.py
  pipeline/matching/algorithms/fallback/README.md
  pipeline/matching/algorithms/fallback/__init__.py
  pipeline/matching/engines/__init__.py
  pipeline/matching/engines/main.py
  pipeline/matching/engines/main_test.py
  pipeline/matching/evaluation/optimizers.py
  pipeline/matching/finalizers/__init__.py
  pipeline/matching/finalizers/fallback.py
  pipeline/matching/finalizers/tasks.py
  pipeline/matching/generators/__init__.py
  pipeline/matching/rankers/__init__.py
  pipeline/matching/rankers/default.py
  pipeline/matching/rankers/default_test.py
  pipeline/scripts/fallback_example.py
Labels: pipeline, refactor

#60 Add rankers that prioritize non-recently repeated matches.
  pipeline/extract/matches.py
  pipeline/load/release.py
  pipeline/matching/evaluation/optimizers.py
  pipeline/matching/evaluation/validation.py
  pipeline/matching/finalizers/fallback.py
  pipeline/matching/finalizers/tasks.py
  pipeline/matching/rankers/recent_repeat.py
  pipeline/matching/rankers/recent_repeat_test.py
  pipeline/matching/utils/__init__.py
  pipeline/matching/utils/matches.py
  pipeline/matching/utils/matches_test.py
  pipeline/types/user.py
  pipeline/utils/release.py
Labels: enhancement, pipeline, refactor

#61 Implement and test satirical generator.
  pipeline/matching/generators/satirical.py
  pipeline/matching/generators/satirical_test.py
Labels: enhancement, pipeline

#62 Add metadata to Match schema.
  pipeline/extract/matches.py
  pipeline/extract/matches_test.py
  pipeline/load/release.py
  pipeline/load/release_test.py
  pipeline/matching/core/engine_test.py
  pipeline/types/match.py
Labels: enhancement, pipeline, refactor, data

#63 Rank matches based on number of unique common letters in user names.
  pipeline/matching/generators/satirical.py
  pipeline/matching/generators/satirical_test.py
  pipeline/matching/rankers/satirical.py
  pipeline/matching/rankers/satirical_test.py
Labels: enhancement, pipeline, data

#64 Refactor matching flow to use matching engine.
  pipeline/extract/matches.py
  pipeline/extract/matches_test.py
  pipeline/flows/matching.py
  pipeline/load/validation.py
  pipeline/matching/core/README.md
  pipeline/matching/core/engine.py
  pipeline/matching/core/engine_test.py
  pipeline/matching/engines/config.py
  pipeline/matching/engines/main.py
  pipeline/matching/evaluation/validation.py
  pipeline/matching/finalizers/fallbacks.py
  pipeline/matching/finalizers/optimizers.py
  pipeline/matching/finalizers/tasks.py
  pipeline/matching/generators/satirical.py
  pipeline/matching/generators/satirical_test.py
  pipeline/matching/rankers/default.py
  pipeline/matching/rankers/default_test.py
  pipeline/matching/rankers/recent_repeats.py
  pipeline/matching/rankers/recent_repeats_test.py
  pipeline/matching/rankers/satirical.py
  pipeline/matching/rankers/satirical_test.py
  pipeline/scripts/fallback_example.py
  pipeline/transform/__init__.py
  pipeline/transform/matches.py
  pipeline/transform/matches_test.py
  pipeline/transform/users.py
  pipeline/transform/users_test.py
  pipeline/types/engine.py
  pipeline/types/logging.py
  pipeline/types/match.py
Labels: enhancement, pipeline, refactor, infra

#65 Add SatiricalMatchingEngine as an example.
  pipeline/flows/matching.py
  pipeline/matching/engines/config.py
  pipeline/matching/engines/satirical.py
  pipeline/matching/engines/satirical_test.py
  pipeline/matching/generators/satirical.py
  pipeline/matching/generators/satirical_test.py
  pipeline/matching/rankers/satirical_test.py
Labels: documentation, enhancement, pipeline

#66 Rename satirical to silly and add write confirmation.
  pipeline/load/release.py
  pipeline/matching/engines/config.py
  pipeline/matching/engines/silly.py
  pipeline/matching/engines/silly_test.py
  pipeline/matching/generators/silly.py
  pipeline/matching/generators/silly_test.py
  pipeline/matching/rankers/silly.py
  pipeline/matching/rankers/silly_test.py
Labels: pipeline, refactor

#67 Add types and stubs for user matching data.
  README.md
  pipeline/matching/generators/interest_similarity.py
  pipeline/matching/generators/interest_similarity_test.py
  pipeline/types/__init__.py
  pipeline/types/engine.py
  pipeline/types/intent.py
  pipeline/types/interest.py
  pipeline/types/schedule.py
  pipeline/types/user.py
Labels: enhancement, pipeline, infra, data

#68 Add stubs for intent similarity.
  pipeline/matching/generators/intent_similarity.py
  pipeline/matching/generators/intent_similarity_test.py
  pipeline/types/intent.py
Labels: enhancement, pipeline, data

#71 Fix bug in matching engine that leaves extra match.
  pipeline/matching/core/constants.py
  pipeline/matching/core/engine.py
  pipeline/matching/core/engine_test.py
Labels: bug, pipeline

#72 Refactor match metadata into typed schema.
  pipeline/matching/engines/silly_test.py
  pipeline/matching/generators/intent_similarity.py
  pipeline/matching/generators/intent_similarity_test.py
  pipeline/matching/generators/interest_similarity.py
  pipeline/matching/generators/interest_similarity_test.py
  pipeline/matching/generators/silly.py
  pipeline/matching/generators/silly_test.py
  pipeline/matching/rankers/silly.py
  pipeline/matching/rankers/silly_test.py
  pipeline/types/__init__.py
  pipeline/types/intent_match.py
  pipeline/types/match.py
  pipeline/types/match_metadata.py
Labels: pipeline, refactor, infra, data

#73 Rename generators to match generator IDs.
  pipeline/matching/engines/config.py
  pipeline/matching/engines/simple.py
  pipeline/matching/engines/simple_test.py
  pipeline/matching/generators/common_letters.py
  pipeline/matching/generators/common_letters_test.py
  pipeline/matching/generators/similar_intents.py
  pipeline/matching/generators/similar_intents_test.py
  pipeline/matching/generators/similar_interests.py
  pipeline/matching/generators/similar_interests_test.py
  pipeline/matching/rankers/common_letters.py
  pipeline/matching/rankers/common_letters_test.py
  run.sh
Labels: pipeline, refactor

#75 Change Storybook builder to Vite.
  .gitpod.yml
  frontend/.storybook/main.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, devtools

#76 Create stories for example conversation starter.
  frontend/.storybook/preview.jsx
  frontend/src/pages/AllChatsPage.jsx
  frontend/src/pages/ChatPage.jsx
  frontend/src/stories/Theme.css
  frontend/src/stories/core/Button.css
  frontend/src/stories/core/Button.tsx
  frontend/src/stories/core/ChatData.tsx
  frontend/src/stories/core/UserData.tsx
  frontend/src/stories/core/Utils.js
  frontend/src/stories/core/index.js
  frontend/src/stories/starters/CommLettersStarter.stories.tsx
  frontend/src/stories/starters/CommonLettersStarter.css
  frontend/src/stories/starters/CommonLettersStarter.tsx
  frontend/src/stories/starters/ConversationStarter.tsx
  frontend/src/stories/starters/Introduction.stories.mdx
  frontend/src/stories/starters/index.js
Labels: documentation, frontend, devtools

#78 Set Node.js version to 16 in GitHub actions.
  .github/workflows/deploy.yml
  .github/workflows/pre-commit.yml
Labels: devtools

#79 Change type interfaces to non-default exports.
  frontend/src/app/types/ChatData.tsx
  frontend/src/app/types/UserData.tsx
Labels: bug, frontend, data

#80 Create starter code for conversation starters.
  frontend/src/app/starters/CommonLettersStarter.stories.tsx
  frontend/src/app/starters/ConversationStarter.tsx
  frontend/src/app/starters/IntentsStarter.css
  frontend/src/app/starters/IntentsStarter.stories.tsx
  frontend/src/app/starters/IntentsStarter.tsx
  frontend/src/app/starters/InterestsStarter.css
  frontend/src/app/starters/InterestsStarter.stories.tsx
  frontend/src/app/starters/InterestsStarter.tsx
  frontend/src/app/starters/SchedulesStarter.css
  frontend/src/app/starters/SchedulesStarter.stories.tsx
  frontend/src/app/starters/SchedulesStarter.tsx
Labels: documentation, frontend

#81 Create chat app menu and add stubs for starter projects.
  frontend/src/app/chat/Chat.css
  frontend/src/app/chat/ChatApp.jsx
  frontend/src/app/chat/ChatHeader.jsx
  frontend/src/app/chat/ChatMenu.jsx
  frontend/src/app/chat/index.js
  frontend/src/app/chatmenu/BlockUser.css
  frontend/src/app/chatmenu/BlockUser.stories.tsx
  frontend/src/app/chatmenu/BlockUser.tsx
  frontend/src/app/chatmenu/ChatMenuPage.tsx
  frontend/src/app/chatmenu/RateMatch.css
  frontend/src/app/chatmenu/RateMatch.stories.tsx
  frontend/src/app/chatmenu/RateMatch.tsx
  frontend/src/app/chatmenu/SearchMessages.css
  frontend/src/app/chatmenu/SearchMessages.stories.tsx
  frontend/src/app/chatmenu/SearchMessages.tsx
  frontend/src/app/chatmenu/UpvoteUser.css
  frontend/src/app/chatmenu/UpvoteUser.stories.tsx
  frontend/src/app/chatmenu/UpvoteUser.tsx
  frontend/src/app/chatmenu/index.js
  frontend/src/app/styles/Layout.css
  frontend/src/app/styles/Theme.css
  frontend/src/pages/ChatPage.jsx
Labels: documentation, enhancement, frontend, infra

#83 Add decorator so that router links can be used in Storybook.
  frontend/src/app/chat/ChatAppInner.stories.jsx
  frontend/src/app/testing/Decorators.jsx
  frontend/src/app/testing/index.js
Labels: bug, frontend, devtools

#105 Fix rare intents test.
  pipeline/matching/generators/rare_intents_test.py
Labels: bug, pipeline

#106 Update GitHub actions.
  .github/workflows/deploy.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-backend.yml
Labels: devtools

#107 Add more stories for chat app.
  frontend/src/app/chat/ChatAppInner.stories.jsx
Labels: documentation, frontend

#108 Add Butterfly logo.
  frontend/index.html
  frontend/public/404.html
  frontend/src/app/ui/Logo.css
  frontend/src/app/ui/Logo.jsx
  frontend/src/app/ui/Logo.stories.tsx
  frontend/src/app/ui/index.js
  frontend/src/assets/logo-butterfly-rainbow.png
  frontend/src/favicon.svg
  frontend/src/logo.svg
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/LoginPage.jsx
  frontend/src/pages/MockLoginPage.jsx
Labels: enhancement, frontend

#109 Set up backend API.
  .gitpod.yml
  Procfile
  backend/__init__.py
  backend/manage.py
  backend/server/__init__.py
  backend/server/asgi.py
  backend/server/settings.py
  backend/server/urls.py
  backend/server/views.py
  backend/server/wsgi.py
  frontend/src/App.jsx
  frontend/src/app/utils/Fetch.js
  frontend/src/app/utils/index.js
  frontend/src/pages/StatusPage.jsx
  requirements.txt
  run.sh
Labels: enhancement, backend, infra

#111 Deploy to GitHub Pages with production API.
  .github/workflows/deploy.yml
  frontend/src/app/utils/Fetch.js
  frontend/src/pages/MockLoginPage.jsx
  frontend/src/pages/StatusPage.jsx
Labels: enhancement, frontend, backend, infra

#113 Enable database access for API.
  backend/conftest.py
  backend/core/urls.py
  backend/core/views/__init__.py
  backend/core/views/user.py
  backend/core/views/user_test.py
  backend/manage.py
  backend/server/apps.py
  backend/server/settings.py
  backend/server/views.py
  backend/testing/__init__.py
  backend/testing/helpers.py
  backend/utils/__init__.py
  backend/utils/firebase.py
  backend/utils/response.py
  backend/utils/response_test.py
  run.sh
Labels: enhancement, backend, infra

#114 Move profile page user data request to API.
  frontend/src/app/data/User.js
  frontend/src/app/utils/Fetch.js
  frontend/src/pages/ProfilePage.jsx
Labels: bug, frontend, backend, refactor

#115 Add icon to core Button component.
  frontend/src/app/inbox/MatchTile.jsx
  frontend/src/app/ui/Button.stories.tsx
  frontend/src/app/ui/Button.tsx
  frontend/src/app/utils/Events.js
  frontend/src/app/utils/index.js
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/LoginPage.jsx
  frontend/src/pages/MockLoginPage.jsx
Labels: frontend, refactor, infra, a11y

#116 Implement endpoint to join community.
  backend/attributes/urls.py
  backend/attributes/views/__init__.py
  backend/chat/urls.py
  backend/chat/views/__init__.py
  backend/conftest.py
  backend/core/urls.py
  backend/core/views/__init__.py
  backend/core/views/community.py
  backend/core/views/community_test.py
  backend/core/views/user_test.py
  backend/ratings/urls.py
  backend/ratings/views/__init__.py
  backend/server/settings.py
  backend/server/urls.py
  backend/testing/helpers.py
  backend/utils/firebase.py
  backend/utils/response.py
  backend/utils/response_test.py
  run.sh
Labels: enhancement, backend, refactor, infra

#117 Implement UI for joining a community.
  backend/core/views/community.py
  backend/core/views/community_test.py
  frontend/src/App.jsx
  frontend/src/app/community/Introduction.stories.mdx
  frontend/src/app/community/Join.stories.tsx
  frontend/src/app/community/Join.tsx
  frontend/src/app/community/index.js
  frontend/src/app/starters/CommonLettersStarter.stories.tsx
  frontend/src/app/styles/Main.css
  frontend/src/app/ui/Button.tsx
  frontend/src/pages/JoinPage.jsx
Labels: enhancement, frontend, backend

#118 Fix public asset import.
  frontend/index.html
  frontend/public/404.html
  frontend/src/app/ui/Logo.jsx
Labels: bug, frontend

#119 Add progressive web app manifest and icons.
  frontend/index.html
  frontend/public/404.html
  frontend/public/assets/maskable_icon_x128.png
  frontend/public/manifest.json
Labels: enhancement, frontend, product

#120 Start redesign of chat app UI.
  frontend/src/app/chat/Chat.css
  frontend/src/app/chat/ChatApp.jsx
  frontend/src/app/chat/ChatComposer.jsx
  frontend/src/app/chat/ChatConversation.jsx
  frontend/src/app/chat/ChatHeader.jsx
  frontend/src/app/chat/ChatMenu.jsx
  frontend/src/app/chat/Message.css
  frontend/src/app/chat/Message.jsx
  frontend/src/app/chat/index.js
  frontend/src/app/inbox/ChatPreview.css
  frontend/src/app/inbox/ChatPreview.tsx
  frontend/src/app/inbox/index.js
  frontend/src/app/styles/Layout.css
  frontend/src/app/styles/Theme.css
  frontend/src/app/ui/User.css
  frontend/src/app/ui/User.jsx
  frontend/src/app/ui/index.js
  frontend/src/app/utils/DateTime.js
  frontend/src/pages/AllChatsPage.jsx
  frontend/vite.config.js
Labels: enhancement, frontend, refactor, a11y

#121 Only run pre-commit on changed files.
  .github/workflows/pre-commit.yml
Labels: enhancement, devtools

#122 Try to nest manifest scope.
  frontend/public/manifest.json
Labels: bug, frontend, product

#124 Wake up server on page load.
  backend/server/views_test.py
  frontend/src/app/data/ConnectToServer.jsx
  frontend/src/app/data/index.js
  frontend/src/app/styles/Main.css
  frontend/src/app/ui/Button.stories.tsx
  frontend/src/app/ui/Notification.css
  frontend/src/app/ui/Notification.stories.tsx
  frontend/src/app/ui/Notification.tsx
  frontend/src/app/ui/index.js
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/JoinPage.jsx
  frontend/src/pages/LoginPage.jsx
Labels: enhancement, frontend, backend, infra

#125 Improve consistency of theme colors.
  frontend/src/app/styles/HomePage.css
  frontend/src/app/styles/Theme.css
  frontend/src/app/ui/Button.css
Labels: frontend, refactor

#126 Only install ESLint dependencies when running the pre-commit CI action.
  frontend/src/app/ui/Notification.stories.tsx
  run.sh
Labels: enhancement, devtools

#127 Refactor matching engine to use classes.
  pipeline/flows/matching.py
  pipeline/matching/core/__init__.py
  pipeline/matching/core/engine.py
  pipeline/matching/core/engine_test.py
  pipeline/matching/core/finalizer.py
  pipeline/matching/core/generator.py
  pipeline/matching/core/ranker.py
  pipeline/matching/engines/main.py
  pipeline/matching/engines/simple.py
  pipeline/matching/engines/simple_test.py
  pipeline/matching/finalizers/__init__.py
  pipeline/matching/finalizers/fallbacks.py
  pipeline/matching/finalizers/optimizers.py
  pipeline/matching/generators/__init__.py
  pipeline/matching/generators/common_letters.py
  pipeline/matching/generators/common_letters_test.py
  pipeline/matching/rankers/__init__.py
  pipeline/matching/rankers/common_letters.py
  pipeline/matching/rankers/common_letters_test.py
  pipeline/matching/rankers/default.py
  pipeline/matching/rankers/default_test.py
  pipeline/matching/rankers/recent_repeats.py
  pipeline/matching/rankers/recent_repeats_test.py
  pipeline/scripts/fallback_example.py
  pipeline/types/engine.py
Labels: pipeline, refactor, infra

#137 Set up and integrate starter code for pipeline projects.
  pipeline/extract/__init__.py
  pipeline/flows/matching.py
  pipeline/matching/core/engine.py
  pipeline/matching/core/engine_test.py
  pipeline/matching/engines/main.py
  pipeline/matching/engines/simple.py
  pipeline/matching/generators/__init__.py
  pipeline/matching/generators/limited_schedules.py
  pipeline/matching/generators/limited_schedules_test.py
  pipeline/matching/generators/rare_intents.py
  pipeline/matching/generators/rare_intents_test.py
  pipeline/matching/generators/rare_interests.py
  pipeline/matching/generators/rare_interests_test.py
  pipeline/matching/generators/similar_intents.py
  pipeline/matching/generators/similar_intents_test.py
  pipeline/matching/generators/similar_interests.py
  pipeline/matching/generators/similar_interests_test.py
  pipeline/matching/generators/similar_schedules.py
  pipeline/matching/generators/similar_schedules_test.py
  pipeline/matching/rankers/__init__.py
  pipeline/matching/rankers/intent_upvotes.py
  pipeline/matching/rankers/intent_upvotes_test.py
  pipeline/matching/rankers/match_stars.py
  pipeline/matching/rankers/match_stars_test.py
  pipeline/matching/rankers/multi.py
  pipeline/matching/rankers/multi_test.py
  pipeline/matching/rankers/quantity.py
  pipeline/matching/rankers/quantity_test.py
  pipeline/matching/rankers/variety.py
  pipeline/matching/rankers/variety_test.py
  pipeline/transform/__init__.py
  pipeline/transform/user_intents.py
  pipeline/transform/user_intents_test.py
  pipeline/transform/user_interests.py
  pipeline/transform/user_interests_test.py
Labels: pipeline, refactor, infra

#139 Automatically connect Prefect dashboard to GraphQL.
  .gitpod.yml
  run.sh
Labels: enhancement, pipeline, devtools

#142 Update matching engine to show stages.
  pipeline/matching/core/engine.py
  pipeline/matching/engines/main.py
  pipeline/matching/rankers/multi.py
Labels: enhancement, pipeline, infra

#146 Fix Prefect versioning and startup.
  .gitpod.yml
  pipeline/scripts/register_all_flows.py
  run.sh
Labels: bug, pipeline, devtools

#150 Listen for changes and register new Prefect flow version.
  .gitpod.yml
  pipeline/flows/config.py
  pipeline/flows/matching.py
  pipeline/scripts/register_all_flows.py
  pipeline/scripts/register_listener.py
  pipeline/scripts/run_flow.py
  requirements-dev.txt
  run.sh
Labels: enhancement, devtools

#151 Add unit test for MultiRanker.
  pipeline/matching/rankers/multi_test.py
Labels: pipeline, infra

#152 Update README with common commands.
  README.md
  run.sh
Labels: documentation, devtools

#153 Fix hot-module reloading for Storybook.
  frontend/.storybook/main.js
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
  run.sh
Labels: bug, frontend, devtools

#154 Handle case of no common letters.
  frontend/src/app/starters/CommonLettersStarter.stories.tsx
  frontend/src/app/starters/CommonLettersStarter.tsx
Labels: bug, frontend

#155 Filter out users who are not active in the community.
  pipeline/extract/users.py
  pipeline/extract/users_test.py
  pipeline/types/__init__.py
  pipeline/types/community.py
  pipeline/types/engine.py
  pipeline/types/match.py
  pipeline/types/release.py
Labels: bug, enhancement, pipeline, data

#158 Implement attributes backend.
  backend/attributes/__init__.py
  backend/attributes/urls.py
  backend/attributes/validation.py
  backend/attributes/views/__init__.py
  backend/attributes/views/attribute.py
  backend/attributes/views/attribute_test.py
  backend/attributes/views/user_intents.py
  backend/attributes/views/user_interests.py
Labels: enhancement, backend, infra, data

#159 Fix unintended package-lock.json changes and exit both Prefect and Watchdog with one signal.
  run.sh
Labels: bug, frontend, pipeline, devtools

#167 Migrate core API to Django Ninja.
  README.md
  backend/core/urls.py
  backend/core/views/__init__.py
  backend/core/views/community.py
  backend/core/views/user.py
  backend/core/views/user_test.py
  backend/server/urls.py
  backend/utils/firebase.py
  requirements.txt
  run.sh
Labels: documentation, enhancement, backend, devtools, refactor, infra

#169 Add community config for Exelon Summer Institute.
  frontend/src/config/communities.tsx
Labels: frontend, product

#170 Hide API docs in production.
  backend/server/urls.py
  backend/testing/helpers.py
  backend/utils/__init__.py
  backend/utils/flags.py
  backend/utils/flags_test.py
  run.sh
Labels: bug, backend, devtools, infra

#171 Handle case where community has no previous matches.
  pipeline/extract/matches.py
  pipeline/extract/matches_test.py
Labels: bug, pipeline

#172 Support matches from multiple communities in chat pages.
  frontend/src/App.jsx
  frontend/src/app/data/Match.js
  frontend/src/app/inbox/ChatPreview.tsx
  frontend/src/pages/AllChatsPage.jsx
  frontend/src/pages/ChatPage.jsx
Labels: enhancement, frontend, data

#173 Only register new Prefect version if file contents changed.
  pipeline/scripts/register_listener.py
Labels: enhancement, pipeline, devtools

#176 Add more intents for SDS and demo communities.
  frontend/src/config/communities.tsx
Labels: enhancement, frontend, product

#177 Finish migrating backend API to Ninja.
  backend/attributes/urls.py
  backend/attributes/views/__init__.py
  backend/attributes/views/attribute.py
  backend/chat/urls.py
  backend/chat/views/__init__.py
  backend/chat/views/block_user.py
  backend/chat/views/block_user_test.py
  backend/core/views/community.py
  backend/core/views/user.py
  backend/ratings/urls.py
  backend/ratings/views/__init__.py
  backend/ratings/views/rate_match.py
  backend/ratings/views/rate_match_test.py
  backend/ratings/views/upvote_user.py
  backend/ratings/views/upvote_user_test.py
  backend/server/urls.py
  backend/server/views.py
  backend/server/views_test.py
  pipeline/extract/ratings.py
  pipeline/extract/ratings_test.py
  pipeline/matching/rankers/intent_upvotes_test.py
  pipeline/matching/rankers/match_stars_test.py
  pipeline/types/rating.py
Labels: pipeline, backend, devtools, refactor, data

#179 Implement GET and POST endpoints for blocking users.
  backend/chat/urls.py
  backend/chat/views/block_user.py
  backend/chat/views/block_user_test.py
Labels: documentation, enhancement, backend

#175 Lauren's first commit.
  pipeline/matching/generators/similar_intents.py
Labels: documentation, pipeline

#181 Chris_Hunter's first commit
  pipeline/transform/user_interests.py
Labels: documentation, pipeline

#182 Implement ratings backend.
  backend/ratings/urls.py
  backend/ratings/views/rate_match.py
  backend/ratings/views/rate_match_test.py
  backend/ratings/views/ratings.py
  backend/ratings/views/ratings_test.py
  backend/ratings/views/upvote_user.py
  backend/ratings/views/upvote_user_test.py
  backend/ratings/views/utils.py
  pipeline/extract/ratings.py
  pipeline/extract/ratings_test.py
  pipeline/matching/rankers/intent_upvotes_test.py
  pipeline/matching/rankers/match_stars_test.py
  pipeline/types/__init__.py
  pipeline/types/basic.py
  pipeline/types/rating.py
Labels: documentation, enhancement, pipeline, backend, refactor, infra, data

#178 Marilyn's First Commit
  frontend/src/app/attributes/EditIntents.tsx
Labels: documentation, frontend

#174 Graces first commit
  frontend/src/app/chatmenu/BlockUser.tsx
Labels: documentation, frontend

#184 Ayman Fahsi's first commit
  pipeline/matching/generators/rare_interests.py
Labels: documentation, pipeline

#186 Azucena's first commit.
  pipeline/transform/user_intents.py
Labels: documentation, pipeline

#180 David's first commit.
  pipeline/matching/rankers/variety.py
Labels: documentation, pipeline

#188 Gitignore package files in the root directory.
  .gitignore
Labels: frontend, devtools

#185 Alhassan Elkossei's first commit.
  pipeline/matching/rankers/match_stars.py
Labels: documentation, pipeline

#211 Chris Hunter's work on issue #194 (related to #103).
  pipeline/transform/user_interests.py
  pipeline/transform/user_interests_test.py
Labels: enhancement, pipeline

#210 Dinora's first commit
  frontend/src/app/attributes/EditInterests.tsx
Labels: documentation, frontend

#214 Bridget's first commit.
  pipeline/matching/generators/similar_interests.py
Labels: documentation, pipeline

#187 Luis' first commit
  frontend/src/app/chatmenu/UpvoteUser.tsx
Labels: documentation, frontend

#218 Lilana first commit
  frontend/src/app/starters/IntentsStarter.tsx
Labels: documentation, frontend

#217 Verica Karanakova's first commit.
  pipeline/matching/rankers/intent_upvotes.py
Labels: documentation, pipeline

#212 Nida's first commit.
  frontend/src/app/chatmenu/SearchMessages.tsx
Labels: documentation, frontend
